<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="utf-8" />
    <title>Semantic UI CDN</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>

    <meta charset="UTF-8">
    <title>سامانه استادجو شریف</title>
</head>
<body>

<div id="id_navbar" class="ui three item menu">
  <a  href="/" id="id_navbar_home" class="active item">صفحه اصلی</a>
  <a href="/signup2" id="id_navbar_signup" class="item">ثبت نام</a>

    <a  id="id_navbar_login" class="item">ورود</a>
{#    <a id="id_navbar_logout" class="item">خروج</a>#}
{#    <a href="/contact_us" id="id_navbar_contact_us"class="item">تماس با ما</a>#}

</div>

{% block content %}

{% endblock %}

</body>
</html>

